/**/excel_sheets/
/**/static/
/**/node_modules/
/**/public/
/**/build/
/**/tasks.json
tests/*.ipynb
/**/__*/
tests/
*.xlsx
/**/keystone/
data/*.json
data/add_meli_ids.ipynb
Docs/
data/*.zip
data/create*
Services/Products/mysql/backups/
*.code-workspace
Workflows/**/*.ipynb
Workflows/UpdatePerformanceRecords/incomplete_performance_records
Services/Products/docker-compose.yaml
package/
Workflows/UpdatePerformanceRecords/duplicate_batch*
design_resources/
database/Dockerfile
database/backups/
*.db
/**/Config/tokens.json
Services/Products/data/
Services/Products/requirements.txt
Services/Products/bonhart_products.*.tar
database/redis/
.not_git/
